<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light ">
<!--   logo-->
    <a class="navbar-brand" href="#">
        <img th:src="@{/images/logoauto.png}" height="70" alt="logo" />
    </a>
    <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div
            id="navbarCollapse"
            class="collapse navbar-collapse justify-content-start"
    >
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link mr-2">Home</a>
            <a href="#" class="nav-item nav-link mr-2">Books</a>
            <a href="#" class="nav-item nav-link  ">Booking History</a>
        </div>
    </div>


    </nav>

</body>
</html>