.carousel-indicators li {
    background-color: #333;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: #fff;
    text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(244, 244, 244, 0.5);
}

.card {
    flex-basis: 300px !important;
    background-color: #008cc0;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 140, 192, 0.27);
    transition: 0.3s;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 10px ;
    display: inline-block;
}

.card img{
    border-radius:15px 15px 0px 0px;

}

.card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.card-img-top {
    width: 100%;
    height: 50%;
}
.card-img-top:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 30px;
}

.card-title {
    color: white;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}

.card-text {
    color: rgba(244, 244, 244, 0.76);
    font-size: 16px;
    text-align: center;
    line-height: normal;
}

.card-footer .btn {
    height: 40px;
    width: 80px;
    color: #fff;
    background-color: #00b2ff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}


.card-footer .btn:hover {
    color: white;
    background-color: #00b2ff;
}


/*.card-footer .btn:active {*/
/*    transform: translateY(2px);*/
/*    box-shadow: 0 0px 0px rgba(0,0,0,0.1);*/
/*}*/

.textprice{
    color: #008cc0;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.card:hover .heart {
    top: 10px;
}

.heart {
    z-index: 1;
    position: absolute;
    top: -60px;
    right: 10px;
    transition: all 0.5s;
}

.heart i {
    font-size: 22px;
    color: floralwhite;
}

.heart-red {
    color: red !important;
}

.buttons button {
    height: 40px;
    width: 80px;
    color: #00b2ff;
    border: 2px solid #00b2ff;
    background-color: #fff;
    font-size: 13px;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 10px; /* add margin between buttons */
}

.buttons:hover button {
    color: white;
    background-color: #00b2ff;

}

.buybuttons button{
    height: 40px;
    width: 80px;
    color: #fff;
    background-color: #00b2ff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.buybuttons button:hover {
    background-color: #0fcc44;
}
.buybuttons button:focus {
    outline: none;
}





.slider{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/*Best Selling*/
.bbb_viewed {
    height: 300px;
    padding-top: 51px;
    padding-bottom: 60px;
    background: #eff6fa
}

.bbb_main_container {
    background-color: #fff;
    padding: 11px;
}

.bbb_viewed_title_container {
    border-bottom: solid 1px #dadada
}

.bbb_viewed_title {
    margin-bottom: 16px;
    margin-top: 8px;

}

.bbb_viewed_nav_container {
    position: absolute;
    right: -5px;
    bottom: 14px
}

.bbb_viewed_nav {
    display: inline-block;
    cursor: pointer
}

.bbb_viewed_nav i {
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_nav:hover i {
    color: #606264
}

.bbb_viewed_prev {
    margin-right: 15px
}

.bbb_viewed_slider_container {
    padding-top: 13px;
}

.bbb_viewed_item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px
}

.bbb_viewed_image {
    width: 150px;
    height: 150px;
}

.bbb_viewed_image img {
    display: block;
    max-width: 100%
}

.bbb_viewed_content {
    width: 100%;
    margin-top: 25px
}

.bbb_viewed_price {
    font-size: 16px;
    color: #000000;
    font-weight: 500
}

.bbb_viewed_item.discount .bbb_viewed_price {
    color: #df3b3b
}

.bbb_viewed_price span {
    /*position: relative;*/
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 8px
}

.bbb_viewed_price span::after {
    display: block;
    /*position: absolute;*/
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    content: ''
}

.bbb_viewed_name {
    margin-top: 3px
}

.bbb_viewed_name a {
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_name a:hover {
    color: #0e8ce4
}

.item_marks {
    position: absolute;
    top: 18px;
    left: 18px
}

.item_mark {
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 36px;
    text-align: center
}

.item_discount {
    background: #df3b3b;
    margin-right: 5px
}

.item_new {
    background: #0e8ce4
}

.bbb_viewed_item.discount .item_discount {
    display: inline-block
}

.bbb_viewed_item.is_new .item_new {
    display: inline-block
}

footer {
    /*margin: 800px 0 0 0;*/
    position: relative;
    background: #404040;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px
}

footer .footer-newsletter {
    padding: 50px 0;
    background: #404040
}

footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600
}

footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px
}

footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px)
}

footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #e96b56;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px
}

footer .footer-newsletter form input[type="submit"]:hover {
    background: #e6573f
}

footer .footer-top {
    background: #3b3b3b;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    padding: 60px 0 30px 0
}

footer .footer-top .footer-info {
    margin-bottom: 30px
}

footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700
}

footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff
}

footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #545454;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s
}

footer .footer-top .social-links a:hover {
    background: #e96b56;
    color: #fff;
    text-decoration: none
}

footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px
}

footer .footer-top .footer-links {
    margin-bottom: 30px
}

footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0
}

footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ec7f6d;
    font-size: 18px;
    line-height: 1
}

footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center
}

footer .footer-top .footer-links ul li:first-child {
    padding-top: 0
}

footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1
}

footer .footer-top .footer-links ul a:hover {
    color: #e96b56
}

footer .footer-top .footer-contact {
    margin-bottom: 30px
}

footer .footer-top .footer-contact p {
    line-height: 26px
}

footer .copyright {
    text-align: center;
    padding-top: 30px
}

footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff
}