/* Default styles */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

.main-wrapper {
    margin: 50px;
}

.main-wrapper h2 {
    text-align: center;
}

hr {
    margin: 20px 0;
    border-color: #0078d4;
    opacity: 0.1;
}

#btnAllDelete {
    background-color: #ff0000;
    float: right;
}

.delete-all {
    margin: 0 10px 24px 0;
}

.panels-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.panels-wrap .left-panel {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.panels-wrap .right-panel {
    width: 50%;
}

.panels-wrap .cardbox {
    padding: 22px 20px 36px 36px;
    margin: 26px;
    box-shadow: 0 0 6px 6px rgba(33, 33, 33, 0.03);
    border-radius: 6px;
}

.panels-wrap .cardbox button {
    padding: 8px 16px;
    outline: none;
    background-color: #0078d4;
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.panels-wrap .input-wrapper {
    width: 100%;
    margin: 16px 0 16px -6px;
}

.panels-wrap .input-wrapper input {
    width: 45%;
    padding: 6px;
    margin: 6px;
}

/* Media queries for responsive design */

@media screen and (max-width: 768px) {
    .main-wrapper {
        margin: 20px;
    }

    .panels-wrap {
        flex-direction: column;
    }
    btnReadData
    .panels-wrap .left-panel,
    .panels-wrap .right-panel {
        width: 100%;
    }

    .panels-wrap .cardbox {
        margin: 16px;
    }

    .panels-wrap .input-wrapper input {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main-wrapper {
        margin: 10px;
    }

    .panels-wrap .cardbox {
        padding: 16px;
    }

    .panels-wrap .input-wrapper input {
        padding: 4px;
        margin: 4px;
    }
}