<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}" />
    <title>Customer Details</title>
    <link rel="icon" type="image/png" th:href="@{/images/logoauto.png}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="loginBody">
    <img th:src="@{~/images/abc.webp}">
</div>
<h1>This is Database Table</h1>

<!--<div class="Table">-->
<!--    <a th:href="@{/userList}"></a>-->

<!--    <table border="1" class="table">-->
<!--        <tr>-->
<!--&lt;!&ndash;            <th>Id</th>&ndash;&gt;-->
<!--            <th>Username</th>-->
<!--            <th>Email</th>-->
<!--            <th>Full Name</th>-->
<!--            <th>Address</th>-->
<!--            <th>Action</th>-->

<!--        </tr>-->
<!--        <tr th:each="user:${userList}">-->
<!--&lt;!&ndash;            <td th:text="${user.id}"></td>&ndash;&gt;-->
<!--           -->
<!--            <td>-->
<!--                <a th:href="@{~/deleteUser/} + ${user.id}">Delete</a>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<div class="Table">
    <a th:href="@{/userList}"></a>
    <table class="Table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody  class="Table-body" >

        <tr th:each = "user: ${userList}">
            <td th:text="${user.username}"> </td>
            <td th:text="${user.email}"> </td>
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.city}"></td>
            <td>
                <a th:href="@{~/deleteUser/}+${user.id}" class = "btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--<h1><a href="http://localhost:8087/user/create">Create New User</a></h1>-->


</body>
</html>