<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">-->
<!--    <link rel="stylesheet"-->
<!--          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/newcard.css}" />-->

</head>

<body>
    <div class="d-flex flex-column">
        <div th:replace="fragments/header :: header"></div>
    </div>
        <div class="slider container-fluid mt-2 d-flex flex-column" >
            <div class="bbb_viewed">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="bbb_main_container">
                                <div class="bbb_viewed_title_container">
                                    <h3 class="bbb_viewed_title">Best selling products</h3>
                                    <div class="bbb_viewed_nav_container">
                                        <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                                        <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                                    </div>
                                </div>
                                <div class="bbb_viewed_slider_container">
                                    <div class="owl-carousel owl-theme bbb_viewed_slider">
                                        <div class="owl-item">
                                            <div
                                                    class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                                <div class="bbb_viewed_image"><img
                                                        src="images/cart.png"
                                                        alt="cart image"></div>
                                                <div class="bbb_viewed_content text-center">
                                                    <div class="bbb_viewed_price">₹12225<span>₹13300</span></div>
                                                    <div class="bbb_viewed_name"><a href="#">Alkatel Phone</a></div>
                                                </div>
                                                <ul class="item_marks">
                                                    <li class="item_mark item_discount">-25%</li>
                                                    <li class="item_mark item_new">new</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="owl-item">
                                            <div
                                                    class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                                <div class="bbb_viewed_image"><img
                                                        th:src="@{https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924275/images.jpg}"
                                                        alt=""></div>
                                                <div class="bbb_viewed_content text-center">
                                                    <div class="bbb_viewed_price">₹30079</div>
                                                    <div class="bbb_viewed_name"><a href="#">Samsung LED</a></div>
                                                </div>
                                                <ul class="item_marks">
                                                    <li class="item_mark item_discount">-25%</li>
                                                    <li class="item_mark item_new">new</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="owl-item">
                                            <div
                                                    class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                                <div class="bbb_viewed_image"><img
                                                        th:src="@{https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924275/images.jpg}"
                                                        alt=""></div>
                                                <div class="bbb_viewed_content text-center">
                                                    <div class="bbb_viewed_price">₹22250</div>
                                                    <div class="bbb_viewed_name"><a href="#">Samsung Mobile</a></div>
                                                </div>
                                                <ul class="item_marks">
                                                    <li class="item_mark item_discount">-25%</li>
                                                    <li class="item_mark item_new">new</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="owl-item">
                                            <div
                                                    class="bbb_viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                                <div class="bbb_viewed_image"><img
                                                        th:src="@{https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924275/images.jpg}"
                                                        alt=""></div>
                                                <div class="bbb_viewed_content text-center">
                                                    <div class="bbb_viewed_price">₹1379</div>
                                                    <div class="bbb_viewed_name"><a href="#">Huawei Power</a></div>
                                                </div>
                                                <ul class="item_marks">
                                                    <li class="item_mark item_discount">-25%</li>
                                                    <li class="item_mark item_new">new</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="owl-item">
                                            <div
                                                    class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                                <div class="bbb_viewed_image"><img
                                                        src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924361/21HmjI5eVcL.jpg"
                                                        alt=""></div>
                                                <div class="bbb_viewed_content text-center">
                                                    <div class="bbb_viewed_price">₹225<span>₹300</span></div>
                                                    <div class="bbb_viewed_name"><a href="#">Sony Power</a></div>
                                                </div>
                                                <ul class="item_marks">
                                                    <li class="item_mark item_discount">-25%</li>
                                                    <li class="item_mark item_new">new</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="owl-item">
                                            <div
                                                    class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                                <div class="bbb_viewed_image"><img
                                                        src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924241/8fbb415a2ab2a4de55bb0c8da73c4172--ps.jpg"
                                                        alt=""></div>
                                                <div class="bbb_viewed_content text-center">
                                                    <div class="bbb_viewed_price">₹13275</div>
                                                    <div class="bbb_viewed_name"><a href="#">Speedlink Mobile</a></div>
                                                </div>
                                                <ul class="item_marks">
                                                    <li class="item_mark item_discount">-25%</li>
                                                    <li class="item_mark item_new">new</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div id="myCarousel" class="carousel slide" data-ride="carousel" sec:authorize="hasRole('ROLE_USER')">-->
<!--                &lt;!&ndash; Indicators &ndash;&gt;-->
<!--                <ol class="carousel-indicators">-->
<!--                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
<!--                    <li data-target="#myCarousel" data-slide-to="1"></li>-->
<!--                    <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--                </ol>-->

<!--                &lt;!&ndash; Slides &ndash;&gt;-->
<!--                <div class="carousel-inner">-->
<!--                    <div class="carousel-item active">-->
<!--                        <img src="images/custom.png" alt="Image 1">-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <img src="images/motul.png" alt="Image 2">-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <img src="images/custom.png" alt="Image 3">-->

<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Controls &ndash;&gt;-->
<!--                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Previous</span>-->
<!--                </a>-->
<!--                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Next</span>-->
<!--                </a>-->
<!--            </div>-->

            <br>

            <div class="box-heading">
                <h2 class="cnit-h2">New Product</h2>
                <div class="float-right">
                    <a href="https://hardwarepasal.com/product?clearanceSaleProducts=1" style="color: #3f3f3f;" class="seeAll">See All &gt;</a>
                </div>
                <div class="clearfix"></div>
            </div>


            <div class="row">
                <div class="card-deck">
                    <div class="card" th:each="product : ${products}" th:if="${!products.isEmpty()}">
                        <div class="heart i">
                            <i class="fa fa-heart"></i>
                        </div>

                        <img class="card-img-top" th:if="${!product.getImageUrl().isEmpty()}" th:src="${product.getImageUrl()}" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${product.getName()}"></h4>
                            <p class="card-text" th:text="${product.getDescription()}"></p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <p class="textprice mb-0" th:text="${product.getPrice()}"></p>
                            <div class="d-flex justify-content-end">
                                <sec:authorize sec:authorize="hasRole('ROLE_ADMIN')">
                                    <button class="btn mr-1">
                                        <a th:href="@{'product/delete/' + ${product.getId()}}" class="text-dark">Edit</a>
                                    </button>
                                    <button class="btn">
                                        <a th:href="@{'product/edit/' + ${product.getId()}}" class="text-dark">Delete</a>
                                    </button>
                                </sec:authorize>

                                <sec:authorize sec:authorize="hasRole('ROLE_USER')">
                                    <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
                                        <div class="buttons">
                                            <button type="submit">Add to cart</button>
                                        </div>
                                    </form>
                                </sec:authorize>

                                <!--                            <sec:authorize sec:authorize="hasRole('ROLE_USER')">-->
                                <!--                                <a th:href="${'/cart/add/' + product.getId()}" class="btn btn-primary" th:text="#{product.add}"></a>-->
                                <!--                            </sec:authorize>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--//Link Js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:href="@{/js/main.js}"></script>
<!--<script th:href="@{/js/product-card.js}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
</body>
</html>